:root {
    --orange: hsl(26, 100%, 55%);
    --paleOrange: hsl(25, 100%, 94%);
    --veryDarkBlue: hsl(220, 13%, 13%);
    --DarkGrayishBlue: hsl(219, 9%, 45%);
    --GrayishBlue: hsl(220, 14%, 75%);
    --LightGrayishBlue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Lightgray: #F7F8FD;
    --Lightorange: hsl(26, 96%, 69%);
    /*Black: (with 75% opacity for lightbox background): hsl(0, 0%, 0%)*/
}

@font-face {
    font-family: 'icons';
    src: url(../icons.ttf);
}

body {
    font-family: 'Kumbh Sans', 'icons', sans-serif;
    Font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Mobile First*/

.header {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 70px;
    max-height: 120px;
    background-color: var(--White);
}

.logo {
    width: 140px;
    height: 20px;
    margin-left: 5px;
}

.cart-user {
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.cart {
    width: auto;
    height: 20px;
    padding: 15px;
}

.cart:hover {
    opacity: 0.5;
    transition: 0.30s;
    cursor: pointer;
}

.user {
    width: 28px;
    border: 3px solid var(--White);
    border-radius: 50px;
}

.user:hover {
    border: 3px solid var(--orange);
    cursor: pointer;
    transition: 0.30s;
}

.wrapper__menu {
    display: flex;
    align-items: center;
}

.menu {
    padding-right: 10px;
    padding-left: 20px;
    padding-top: 4px;
    cursor: pointer;
}

.menu__list {
    z-index: 2;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: -1500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 260px;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: var(--White);
    padding-left: 25px;
    padding-bottom: 450px;
    transition: background-color 2s, transform 2s;
}

.menu__list--active {
    left: 0px;
    transition: 0.20s;
}

.menu__itens:hover {
    color: var(--DarkGrayishBlue);
}

.close {
    padding-top: 25px;
    padding-bottom: 25px;
    cursor: pointer;
}

.glass {
    position: absolute;
    left: 260px;
    z-index: 1;
    height: 100%;
    width: calc(100vw - 260px);
    background-color: black;
    opacity: 0.8;
    overflow: hidden;
}

.cart__itens {
    box-sizing: border-box;
    width: 19px;
    height: 15px;
    z-index: 0;
    position: absolute;
    top: 17px;
    right: 55px;
    background-color: var(--orange);
    border-radius: 40%;
    font-size: 11px;
    color: var(--White);
    font-weight: 700;
    padding-left: 7px;
    padding-top: 2px;
}

.showcart {
    box-sizing: border-box;
    z-index: 1;
    position: absolute;
    top: -1000px;
    right: 7px;
    width: 96vw;
    height: 260px;
    background-color: var(--White);
    border-radius: 15px;
    box-shadow: 2px 2px 30px 5px rgba(0, 0, 0, 0.16);
}

.showcart--active {
    top: 80px;
    ;
}

.showcart__cart {
    box-sizing: border-box;
    border-bottom: 1px solid var(--GrayishBlue);
    padding: 18px;
    height: 60px;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--veryDarkBlue);
}

.showcart span {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    font-size: 1rem;
    color: var(--DarkGrayishBlue);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.showcart i {
    font-weight: 700;
    color: var(--veryDarkBlue)
}

.showcart__img-product {
    width: auto;
    height: 60px;
    border-radius: 5px;
}

.showcart__img-delete {
    width: auto;
    height: 15px;
    cursor: pointer;
}

.btn__checkout {
    position: relative;
    top: 110px;
    left: 20px;
    background-color: var(--orange);
    color: var(--White);
    width: 90%;
    height: 55px;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 40px;
    cursor: pointer;
}

.btn__checkout-empty {
    display: none;
}

.main-image {
    position: relative;
    width: 100%;
    height: 100%
}

.image {
    width: 100%;
    height: auto;
    max-width: 480px;
}

.main-image-pop {
    display: none;
}

.previous {
    position: absolute;
    top: calc(50% - 20px);
    left: 15px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: center / 10px no-repeat url("../images/icon-previous.svg"), var(--White);
}

.previous-pop {
    position: absolute;
    top: 40%;
    left: -25px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: center / auto no-repeat url("../images/icon-previous.svg"), var(--White);
    cursor: pointer;
}

.next {
    position: absolute;
    top: calc(50% - 20px);
    right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: center / 10px no-repeat url("../images/icon-next.svg"), var(--White);
}

.next-pop {
    position: absolute;
    top: 40%;
    right: -25px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: center / auto no-repeat url("../images/icon-next.svg"), var(--White);
    cursor: pointer;
}

.thumbs {
    display: none;
}

.thumbnail {
    box-sizing: border-box;
    border: 3px solid transparent;
    width: 85px;
    border-radius: 15px;
    background-color: transparent;
}

.thumbnail:hover {
    cursor: pointer;
    transition: 0.30s;
    opacity: 0.9;
    filter: contrast(0.7);
    background-color: var(--orange);
}

.active {
    border: 3px solid transparent;
    background-color: var(--orange);
    opacity: 0.9;
    filter: contrast(0.7);
}

.wrapper__description {
    padding: 22px;
    max-width: 375px;
}

.brand {
    color: var(--orange);
    font-size: 0.8245rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.model {
    color: var(--veryDarkBlue);
    font-size: 1.775rem;
    font-weight: 700;
    padding-bottom: 20px;
}

.description {
    color: var(--DarkGrayishBlue);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding-bottom: 20px;
}

.wrapper__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.price {
    color: var(--veryDarkBlue);
    font-size: 1.8rem;
    font-weight: 700;
}

.promotion {
    height: 25px;
    width: 50px;
    background-color: var(--paleOrange);
    color: var(--orange);
    font-size: 1rem;
    font-weight: 700;
    margin-left: 20px;
    margin-right: auto;
    border-radius: 5px;
}

.discount {
    color: var(--GrayishBlue);
    font-size: 1.125rem;
    font-weight: 700;
    text-decoration: line-through;
}

.selector__quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--Lightgray);
    width: 100%;
    height: 55px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.minus {
    width: 12px;
    height: 4px;
    margin-left: 20px;
    padding: 10px;
}

.minus:active {
    opacity: 0.5;
}

.minus:hover {
    cursor: pointer;
}

.plus {
    width: 12px;
    height: 12px;
    margin-right: 20px;
    padding: 10px;
}

.plus:active {
    opacity: 0.5;
}

.plus:hover {
    cursor: pointer;
}

.quantity {
    color: var(--veryDarkBlue);
    font-size: 1.175rem;
    font-weight: 700;
}

.add-cart {
    background-color: var(--orange);
    color: var(--White);
    width: 100%;
    height: 55px;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 40px;
    box-shadow: 5px 20px 20px hsl(26, 100%, 55%, 0.16);
}

.add-cart i::before {
    content: "\e901";
}

.add-cart:hover {
    background-color: var(--Lightorange);
    cursor: pointer;
    font-weight: 400;
    transition: 0.55s;
}


@media screen and (min-width: 475px) {
    .showcart {
        z-index: 1;
        width: 96vw;
        max-width: 365px;
    }
}

@media screen and (min-width: 768px) {

    main {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .header {
        justify-content: space-between;
        max-width: 95%;
        min-height: 115px;
        border-bottom: 1px solid var(--GrayishBlue);
        margin-bottom: 25px;
    }

    .menu {
        display: none;
    }

    .logo {
        margin-right: 10px;
    }

    .close {
        display: none;
    }

    .glass {
        display: none;
    }

    .menu__list {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 400px;
        font-size: 0.975rem;
        font-weight: 400;
        color: var(--DarkGrayishBlue);
        margin-left: 0px;
        height: 115px;
        padding: 0;
        left: 0;
    }

    .menu__itens {
        display: flex;
        position: relative;
        height: 112px;
        align-items: center;
        margin-left: 8px;
    }

    .menu__itens:hover {
        border-bottom: 4px solid var(--orange);
        transition: 0.20s;
        cursor: pointer;
    }

    .cart-user {
        width: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
    }

    .user {
        width: 50px;
        margin-left: 10px;
    }

    .showcart {
        top: -400px;
        right: 0px;
        z-index: 2;
    }

    .showcart--active {
        top: 90px;
    }

    .model {
        font-size: 2.6rem;
    }

    .cart__itens {
        top: 39px;
        right: 62px;
    }

    .wrapper__price {
        width: 170px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .promotion {
        margin-left: 0;
        margin-right: 0;
    }

    .discount {
        margin-top: 15px;
    }

    .wrapper__quantity {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .selector__quantity {
        width: 30%;
        min-width: 115px;
    }

    .add-cart {
        width: 65%;
    }

    .main-image {
        margin-left: 40px;
        max-width: 455px;
        width: 100%;
    }

    .image-pop {
        width: auto;
        height: 500px;
        border-radius: 15px;
    }

    .main-image-pop {
        display: flex;
        flex-direction: column;
        z-index: 3;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: auto;
    }

    .img-pop-bg {
        z-index: 1000;
        position: fixed;
        top: -5000px;
        width: 100vw;
        height: 100vh;
        background-color: rgb(0, 0, 0, 0.9);
    }

    .img-pop-bg-active {
        top: 0px;
    }

    .close-pop {
        position: relative;
        left: calc(100% - 20px);
        top: -10px;
        cursor: pointer;
        width: 20px;
        filter: brightness(100);
    }

    .image {
        width: auto;
        height: 445px;
        border-radius: 15px;
        cursor: pointer;
    }

    .previous {
        display: none;
    }

    .next {
        display: none;
    }

    .thumbs {
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
        margin-bottom: 15px;
    }

}


@media screen and (min-width: 992px) {
    main {
        width: 80%;
    }

    .header {
        max-width: 75%;
    }

    .wrapper__description {
        min-width: 395px;
        padding-left: 30px;
        margin-top: 35px;
    }

    .wrapper__quantity {
        flex-direction: row;
    }

}